trigger: 
  branches:
    include:
      - main  # Change this to your main branch name

pool:
  vmImage: 'ubuntu-latest'  # Use the appropriate image based on your requirements

steps:
- checkout: self  # This checks out your repository using the default settings

- script: |
    mvn clean install
  displayName: 'Build'

- script: |
    mvn clean test-compile gatling:test  -D"gatling.simulationClass=api.apiperformancetest"
  displayName: 'Run Karate-Gatling'
